@model IEnumerable<ElMarket.Models.BuyOperation>

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="~/Source/fontawesome-free-5.15.4-web/css/all.min.css" rel="stylesheet" />
    <link href="~/Source/css/Dahboard_1.css" rel="stylesheet" />
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
    <script src="~/Source/js/DashBoard_1.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery.signalR-2.4.3.min.js"></script>
    <script src="/signalr/hubs"></script>
    <title>DashBoard</title>
</head>
<body>
    <div class="container10">
        <div class="nav">
            <div class="nav_Left">
                <img style="width: 105px; height: 85px; position: absolute; top: 2px; left: 46px;" src="~/Source/images/1.png" />
            </div>
            <div class="nav_Right">
                <i class="fas fa-sign-out-alt" onclick="window.location.href='/Home/Index'"></i>
            </div>
        </div>
        <div class="Middle">
            <div class="LeftSide">
                <div>
                    <i class="fas fa-tachometer-alt"></i>
                    <p>Welcome</p>
                </div>
                <div onclick="window.location.href='/OrderMaster/ShowOrderMasterInfo?UserName=@ViewBag.UserName'">
                    <i class="fas fa-plus-circle"></i>
                    <p>Orders</p>
                </div>
                <div onclick="window.location.href='/OrderMaster/ShowProdile?UserName=@ViewBag.UserName'">
                    <i class="fas fa-plus-circle"></i>
                    <p>Profile</p>
                </div>
            </div>
            <div class="BuyProcessesContainer">
                <div style=" background-color:transparent; width: 97px; display: flex; flex-direction: row; justify-content: center;">
                    <h3 style="align-self: center; color: green; font-family: system-ui;">@ViewBag.TotalMoney</h3>
                    <i style="color: green; align-self: center; font-size: 35px; position: relative; top: -3px;" class="fas fa-pound-sign"></i>
                </div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">ProductId</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Bill</th>
                            <th scope="col">Address</th>
                            <th scope="col">Phone</th>
                            <th scope="col">ProductTime</th>
                            <th scope="col">Type</th>
                            <th scope="col">State</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var OperationItem in Model)
                        {
                        <tr>
                            <td>@OperationItem.ProductId</td>
                            <td>@OperationItem.Quantity</td>
                            <td>@OperationItem.Bill</td>
                            <td>@OperationItem.Address</td>
                            <td>@OperationItem.PhoneNumber</td>
                            <td>@OperationItem.ProductTime</td>
                            <td>@OperationItem.type</td>
                            @if (OperationItem.DoneOrNot != true)
                            {
                                <td><span class="badge badge-warning">Pending</span></td>
                                <td><a class="btn btn-primary" href="/OrderMaster/ChangeOrderState?UserName=@(ViewBag.UserName)&OrderId=@(OperationItem.OpeartionId)&State=true">Sent</a></td>
                                <td><a class="btn btn-success" href="/OrderMaster/ShowProductsDeails?ProductId=@(OperationItem.ProductId)&UserName=@(ViewBag.UserName)">Details</a></td>
                            }
                            else
                            {
                                <td><span class="badge badge-primary">Done</span></td>
                                <td><a class="btn btn-warning" href="/OrderMaster/ChangeOrderState?UserName=@(ViewBag.UserName)&OrderId=@(OperationItem.OpeartionId)&State=false">Open</a></td>
                                <td><a class="btn btn-success" href="/OrderMaster/ShowProductsDeails?ProductId=@(OperationItem.ProductId)&UserName=@(ViewBag.UserName)">Details</a></td>
                            }
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

</html>